body {
  background-color: #544e61;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 350px;
  height: 450px;
}

.row {
  display: flex;
  /*   margin:5rem auto; */
  width: 100%;
}

.btn-wrapper {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4rem;
  background-color: #e0e1e6;
  color: #888;
  flex: 1;
  outline: 1px solid #888;
}

.operator {
  background-color: orange;
  color: #fff;
}


.input {
  height: 6rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  padding: .5rem;
  outline: 1px solid #888;
}